*{
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  justify-content: center;
  background-color: #cbcfd6;
  align-items: center;
  position: sticky;
  top: 0;
}
.navbar ul{
  display: flex;
  list-style: none;
  margin: 20px 0px;
}
.navbar ul li{
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
}
.navbar ul li a{
  color: black;
  padding: 8px 25px;
}
.navbar ul li a:hover{
  background-color: black;
  color: white;
}
#Home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.main{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  position: absolute;
  top: 60%;
}
.main h2{
  text-align: center;
}
.headings{
  font-family: century;
  font-size: 3rem;
  text-align: center;
  margin: 30px;
}
.container{
  background-color: black;
  front-family: century;
  color: white;
  border: 2px solid white;
}
img{
  float: left;
  width: 30%;
}
.card-body ol{
  display: block;
  margin: 20px 0px;
}
.card-body ol li{
  font-family: century;
  font-size: 1.5rem;
  font-weight: bold;
  color: #941606;
}
.card-body ol li a{
  color: #bee630;
  padding: 6px 20px;
}
.card-body ol li a:hover{
  background-color: #132e03;
}
